---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Guaraníes y Jesuitas | Batalla de Mborore">
  <main>
    <div class="b-8 absolute left-0 top-0 w-full text-center">
      <h2
        transition:name="bandeirantes-ttl"
        class="text-6xl font-bold tracking-[0.15em] text-primary md:text-8xl"
      >
        Bandei<span class="text-primary md:text-secondary">rantes</span>
      </h2>
    </div>
    <div class="flex min-h-screen flex-col md:flex-row">
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          transition:name="bandeirantes-img"
          src="/bandeirantes.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>

      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h3
            class="m-4 text-wrap px-12 text-center text-lg font-bold md:text-7xl"
          >
            Contexto historico en 1641
          </h3>
          <p class="font-regular m-4 text-lg md:text-4xl">
            1. <span class="underline"
              >Guerra y relaciones con los holandeses:</span
            >
          </p>
          <p class="font-regular m-4 text-lg md:text-4xl">
            En 1641, Brasil atravesaba momentos turbulentos debido a la invasión
            y ocupación holandesa de partes del nordeste brasileño. Los Países
            Bajos, a través de la Compañía Neerlandesa de las Indias
            Occidentales, ocuparon territorios como Pernambuco y otros puntos
            estratégicos desde 1630. Sin embargo, los bandeirantes en São Paulo
            estaban alejados de estos conflictos directos y concentraban sus
            esfuerzos en actividades de expansión y saqueo. en regiones más al
            sur y al oeste.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
