---
import Footer from "@components/ui/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Guaraníes y Jesuitas | Batalla de Mborore">
  <main>
    <section id="seccion1" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          transition:name="bandeirantes-ttl"
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          transition:name="bandeirantes-img"
          src="/bandeirantes.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <p class="font-regular m-4 text-lg md:text-4xl">
            En 1641, Brasil atravesaba momentos turbulentos debido a la invasión
            y ocupación holandesa de partes del nordeste brasileño. Los Países
            Bajos, a través de la Compañía Neerlandesa de las Indias
            Occidentales, ocuparon territorios como Pernambuco y otros puntos
            estratégicos desde 1630. Sin embargo, los bandeirantes en São Paulo
            estaban alejados de estos conflictos directos y concentraban sus
            esfuerzos en actividades de expansión y saqueo en regiones más al
            sur y al oeste.
          </p>
        </div>
      </div>
    </section>

    <section id="seccion2" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h1 class="text-center text-4xl font-bold text-secondary md:text-6xl">
            EXPEDICIONES AL INTERIOR Y CAPTURA DE INDÍGENAS
          </h1>
          <p class="font-regular m-4 mt-10 text-lg md:mt-24 md:text-4xl">
            Los bandeirantes organizaban entradas y bandeiras , que eran
            incursiones al interior de Sudamérica con el objetivo de capturar
            indígenas para esclavizarlos, buscar minerales, y expandir las
            fronteras del Imperio portugués. En 1641, estas expediciones estaban
            dirigidas principalmente desde São Paulo, el centro de las
            operaciones de los bandeirantes. El objetivo era buscar indígenas en
            regiones como el actual Mato Grosso, Goiás y el sur de la Amazonia.
          </p>
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei2.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
    </section>

    <section id="seccion3" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei3.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h1 class="text-center text-4xl font-bold text-secondary md:text-6xl">
            DECADENCIA DE LAS MISIONES JESUÍTICAS
          </h1>
          <p class="font-regular m-4 mt-10 text-lg md:mt-24 md:text-4xl">
            <br />
            Uno de los blancos principales de los bandeirantes en esa época eran
            las reducciones jesuíticas en el territorio que hoy forma parte de Paraguay
            y el norte de Argentina.<br />
            <br />
            Estas reducciones agrupaban a comunidades indígenas que los jesuitas
            protegían y evangelizaban. En 1641, los conflictos entre los jesuitas
            y los bandeirantes se intensificaron, pues los expedicionarios intentaron
            romper estas comunidades y capturar indígenas guaraníes para forzarlos
            a trabajar como esclavos.
          </p>
        </div>
      </div>
    </section>

    <section id="seccion4" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h1 class="text-center text-4xl font-bold text-secondary md:text-6xl">
            RELACIÓN CON LA CORONA PORTUGUESA
          </h1>
          <p class="font-regular m-4 mt-10 text-lg md:mt-24 md:text-4xl">
            Los bandeirantes accionaban con autonomía relativa respecto a la
            autoridad colonial portuguesa. Sin embargo, sus actividades
            beneficiaron al Imperio al expandir las fronteras y consolidar el
            dominio portugués en territorios más allá del Tratado de
            Tordesillas, que formalmente delimitaba las posesiones de España y
            Portugal. La Corona no interferiría mucho en sus expediciones
            mientras estas generaran beneficios económicos y consolidaran la
            ocupación territorial.
          </p>
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei4.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
    </section>

    <section id="seccion5" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei5.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h1 class="text-center text-4xl font-bold text-secondary md:text-6xl">
            PRINCIPALES BANDEIRANTES ACTIVOS EN 1641
          </h1>
          <p class="font-regular m-4 mt-10 text-lg md:mt-24 md:text-4xl">
            Antônio Raposo Tavares: Uno de los más famosos bandeirantes, lideró
            diversas incursiones contra las reducciones jesuíticas y exploró
            amplias regiones del interior. Se lo conoce por la devastación de
            varias misiones en los años anteriores y por iniciar expediciones
            hacia la región amazónica.<br />
            <br />
            Manuel Preto y Fernão Dias Pais : Otros bandeirantes importantes que
            participarán en la caza de indígenas y la búsqueda de oro. Ellos lideraron
            diversas expediciones en las regiones del interior, anticipando lo que
            más adelante sería la llamada fiebre del oro en Brasil.
          </p>
        </div>
      </div>
    </section>

    <section id="seccion6" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h3
            class="m-4 text-wrap px-12 text-center text-lg font-bold md:text-7xl"
          >
            Impacto de los bandeirantes en 1641
          </h3>
          <p class="font-regular m-4 text-lg md:mt-24 md:text-4xl">
            Esclavización de indígenas:
          </p>
          <p class="font-regular m-4 text-lg md:text-4xl">
            Las incursiones de los bandeirantes causaron la desintegración de
            muchas comunidades indígenas. En 1641, la demanda de trabajo forzado
            en plantaciones y minas impulsó su actividad esclavista. Esto generó
            tensiones no solo con las comunidades indígenas, sino también con
            los jesuitas, que buscaban proteger a los indígenas de la
            esclavización.
          </p>
          <br />
          <p class="font-regular m-4 text-lg md:text-4xl">
            Expansión territorial:
          </p>
          <p class="font-regular m-4 text-lg md:text-4xl">
            Las expediciones bandeirantes ayudaron a expandir las fronteras del
            territorio colonial portugués más allá de los límites establecidos
            por los acuerdos entre España y Portugal. Regiones que hoy
            corresponden a Mato Grosso, Goiás, Minas Gerais e incluso el oeste
            de Paraguay y Argentina comenzaron a estar bajo control portugués
            gracias a estas actividades.
          </p>
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei6.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
    </section>

    <section id="seccion7" class="flex min-h-screen flex-col md:flex-row">
      <div class="b-8 absolute left-0 top-0 w-full text-center">
        <h2
          class="text-6xl font-bold text-primary md:text-8xl md:tracking-[0.15em]"
        >
          Bandei<span class="text-primary md:text-secondary">rantes</span>
        </h2>
      </div>
      <div
        class="flex w-full items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <img
          src="/bandei7.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[650px]"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="mt-24 text-secondary">
          <h1 class="text-center text-4xl font-bold text-secondary md:text-6xl">
            CONFLICTOS CON LOS JESUITAS Y ESPAÑA
          </h1>
          <p class="font-regular m-4 mt-10 text-lg md:mt-24 md:text-4xl">
            Las misiones jesuíticas, a menudo ubicadas en territorios
            nominalmente bajo control español, se convirtieron en un objetivo
            constante para los bandeirantes. Esto provocó una serie de
            conflictos que complicaron las relaciones entre las potencias
            coloniales y erosionaron la influencia jesuítica en la región.<br />
            <br />
            En 1641, los bandeirantes desempeñaron un papel fundamental en la expansión
            del territorio portugués en Sudamérica, pero su influencia también fue
            destructiva para las poblaciones indígenas. Sus incursiones marcaron
            el declive de las misiones jesuíticas y fortalecieron la presencia portuguesa
            en áreas previamente bajo control español. Este año fue una etapa clave
            en la transición hacia un mayor dominio colonial portugués en el continente.
          </p>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
