---
import Button from "../../components/ui/Button.astro";
import ArrowLeft from "../../icons/ArrowLeft.astro";
import ArrowRight from "../../icons/ArrowRight.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ver más | Batalla de Mborore">
  <main class="grid grid-cols-1 sm:grid-cols-3 h-screen">
    <section
      class="bg-secondary flex flex-col items-center justify-between p-6 h-full text-center"
    >
      <h2
        transition:name="guaranies-jesuitas-ttl"
        class="md:text-8xl text-6xl font-bold text-primary mb-4"
      >
        Guaraníes y Jesuitas
      </h2>
      <a
        href="/"
        class="text-primary md:hidden flex items-center justify-between gap-x-2 hover:scale-110 transition"
      >
        <ArrowLeft class="w-3 h-3" />
        Volver
      </a>
      <img
        transition:name="guaranies-jesuitas-img"
        src="/guarani-jesuita.webp"
        alt="Imagen de los Guaraníes y Jesuitas"
        class="w-max h-auto mb-4"
      />
      <Button
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="w-4 h-4 md:w-6 md:h-6" />
      </Button>
    </section>

    <section
      class="bg-primary flex flex-col items-center justify-between p-6 h-full text-center"
    >
      <h2 class="md:text-8xl text-6xl font-bold text-secondary mb-4">
        La Batalla
      </h2>
      <a
        href="/"
        class="text-secondary md:flex items-center justify-between gap-x-2 hover:scale-110 transition hidden"
      >
        <ArrowLeft class="w-3 h-3" />
        Volver
      </a>
      <img
        src="/batalla.webp"
        alt="Imagen de la batalla"
        class="w-max h-auto mb-4"
      />
      <Button
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t"
        label="Ver más"
        bgColor="secondary"
        textColor="primary"
      >
        <ArrowRight class="w-4 h-4 md:w-6 md:h-6" />
      </Button>
    </section>

    <section
      class="bg-secondary flex flex-col items-center justify-between p-6 h-full text-center"
    >
      <h2 class="md:text-8xl text-6xl font-bold text-primary mb-4">
        Bandeirantes
      </h2>
      <img
        src="/bandeirantes.webp"
        alt="Imagen de los Bandeirantes"
        class="w-max h-auto mb-4"
      />
      <Button
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="w-4 h-4 md:w-6 md:h-6" />
      </Button>
    </section>
  </main>
</Layout>
