---
import Button from "@components/ui/Button.astro";
import ArrowLeft from "@icons/ArrowLeft.astro";
import ArrowRight from "@icons/ArrowRight.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ver más | Batalla de Mborore">
  <main class="grid h-screen grid-cols-1 sm:grid-cols-3">
    <section
      class="flex h-full flex-col items-center justify-between bg-secondary p-4 text-center"
    >
      <h2
        transition:name="guaranies-jesuitas-ttl"
        class="mb-4 text-4xl font-bold text-primary sm:text-5xl md:text-6xl lg:text-7xl"
      >
        Guaraníes y Jesuitas
      </h2>
      <a
        href="/"
        class="mb-2 me-2 flex items-center gap-2 rounded-full border-2 border-primary bg-secondary px-5 py-2 text-sm font-medium text-primary hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 sm:hidden"
      >
        <ArrowLeft class="h-3 w-3" />
        Volver
      </a>
      <img
        transition:name="guaranies-jesuitas-img"
        src="/guarani-jesuita.webp"
        alt="Imagen de los Guaraníes y Jesuitas"
        class="mb-4 w-full max-w-xs object-contain"
      />
      <Button
        href="/ver-mas/guaranies-jesuitas"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>
    <section
      class="flex h-full flex-col items-center justify-between bg-primary p-4 text-center"
    >
      <h2
        class="mb-4 text-4xl font-bold text-secondary sm:text-5xl md:text-6xl lg:text-7xl"
        transition:name="batalla-ttl"
      >
        Las Batallas
      </h2>
      <a
        href="/"
        class="mb-2 me-2 hidden items-center gap-2 rounded-full border-2 border-secondary bg-primary px-5 py-2 text-sm font-medium text-white hover:bg-tertiary focus:outline-none focus:ring-1 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 md:flex"
      >
        <ArrowLeft class="h-4 w-4" />
        Volver
      </a>
      <img
        transition:name="batalla-img"
        src="/batalla.webp"
        alt="Imagen de la batalla"
        class="mb-4 w-full max-w-xs object-contain"
      />
      <Button
        href="/ver-mas/la-batalla"
        label="Ver más"
        bgColor="secondary"
        textColor="primary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>
    <section
      class="flex h-full flex-col items-center justify-between bg-secondary p-4 text-center"
    >
      <h2
        class="mb-4 text-4xl font-bold text-primary sm:text-5xl md:text-5xl lg:text-6xl"
        transition:name="bandeirantes-ttl"
      >
        Bandeirantes
      </h2>
      <img
        transition:name="bandeirantes-img"
        src="/bandeirantes.webp"
        alt="Imagen de los Bandeirantes"
        class="mb-4 w-full max-w-xs object-contain"
      />
      <Button
        href="/ver-mas/bandeirantes"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>
  </main>
</Layout>
