---
import Button from "../../components/ui/Button.astro";
import ArrowLeft from "../../icons/ArrowLeft.astro";
import ArrowRight from "../../icons/ArrowRight.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ver más | Batalla de Mborore">
  <main class="grid h-screen grid-cols-1 sm:grid-cols-3">
    <section
      class="flex h-full flex-col items-center justify-between bg-secondary p-6 text-center"
    >
      <h2
        transition:name="guaranies-jesuitas-ttl"
        class="mb-4 text-6xl font-bold text-primary md:text-8xl"
      >
        Guaraníes y Jesuitas
      </h2>
      <a
        href="/"
        class="flex items-center justify-between gap-x-2 text-primary transition hover:scale-110 md:hidden"
      >
        <ArrowLeft class="h-3 w-3" />
        Volver
      </a>
      <img
        transition:name="guaranies-jesuitas-img"
        src="/guarani-jesuita.webp"
        alt="Imagen de los Guaraníes y Jesuitas"
        class="mb-4 h-auto w-max"
      />
      <Button
        href="/ver-mas/guaranies-jesuitas"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>

    <section
      class="flex h-full flex-col items-center justify-between bg-primary p-6 text-center"
    >
      <h2 class="mb-4 text-6xl font-bold text-secondary md:text-8xl">
        La Batalla
      </h2>
      <a
        href="/"
        class="hidden items-center justify-between gap-x-2 text-secondary transition hover:scale-110 md:flex"
      >
        <ArrowLeft class="h-3 w-3" />
        Volver
      </a>
      <img
        src="/batalla.webp"
        alt="Imagen de la batalla"
        class="mb-4 h-auto w-max"
      />
      <Button
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t"
        label="Ver más"
        bgColor="secondary"
        textColor="primary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>

    <section
      class="flex h-full flex-col items-center justify-between bg-secondary p-6 text-center"
    >
      <h2
        class="mb-4 text-6xl font-bold text-primary md:text-8xl"
        transition:name="bandeirantes-ttl"
      >
        Bandeirantes
      </h2>
      <img
        transition:name="bandeirantes-img"
        src="/bandeirantes.webp"
        alt="Imagen de los Bandeirantes"
        class="mb-4 h-auto w-max"
      />
      <Button
        href="/ver-mas/bandeirantes"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </section>
  </main>
</Layout>
