---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Guaraníes y Jesuitas | Batalla de Mborore">
  <main
    class="flex flex-col items-center justify-center p-6 h-full text-center"
  >
    <h2
      transition:name="guaranies-jesuitas-ttl"
      class="md:text-8xl text-6xl font-bold text-primary mb-4"
    >
      Guaraníes <span class="text-secondary">y Jesuitas</span>
    </h2>
    <img
      transition:name="guaranies-jesuitas-img"
      src="/guarani-jesuita.webp"
      alt="Imagen de los Guaraníes y Jesuitas"
      class="w-max h-auto mb-4"
    />
  </main>
</Layout>
