---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Guaraníes y Jesuitas | Batalla de Mborore">
  <main>
    <div class="b-8 absolute left-0 top-0 w-full text-center">
      <h2
        transition:name="guaranies-jesuitas-ttl"
        class="text-6xl font-bold tracking-wide text-primary md:text-8xl"
      >
        Guaraníes <span class="text-primary md:text-secondary">y Jesuitas</span>
      </h2>
    </div>
    <div class="flex min-h-screen flex-col md:flex-row">
      <div
        class="flex w-full flex-col items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <div class="mt-24">
          <p class="font-regular m-4 text-lg text-black md:text-4xl">
            Aproximadamente 800 años antes del descubrimiento de América, un
            pueblo que pertenecía a un tronco lingüístico, al que llamaremos
            guaraní, fue llegando a las regiones de Brasil y Paraguay. En el
            caso de nuestro país, ocuparon los territorios que anteriormente
            pertenecían a un grupo étnico llamado <span
              class="font-bold text-primary">Kaingang Ge</span
            >.
          </p>
          <p class="font-regular m-4 text-lg text-black md:text-4xl">
            Ambas etnias se encontraron en un desarrollo cultural perteneciente
            al <span class="font-bold text-primary">Paleolítico</span>, es
            decir, en lo que llamaríamos <span class="font-bold text-primary"
              >Protohistoria</span
            >, un estado de desarrollo propio de la prehistoria, pero aún
            presente en plena Edad Moderna.
          </p>
        </div>
      </div>

      <div
        class="flex w-full items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <img
          transition:name="guaranies-jesuitas-img"
          src="/guarani-jesuita.webp"
          alt="Imagen de los Guaraníes y Jesuitas"
          class="mb-4 h-auto w-[550px]"
        />
      </div>
    </div>
  </main>
</Layout>
