---
import ArrowLeft from "@icons/ArrowLeft.astro";
import GaleryIcon from "@icons/GalleryIcon.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/ui/Footer.astro";

const images = [
  "/galery/img-1.webp",
  "/galery/img-2.webp",
  "/galery/img-3.webp",
  "/galery/img-4.webp",
  "/galery/img-5.webp",
  "/galery/img-6.webp",
  "/galery/img-7.webp",
  "/galery/img-8.webp",
  "/galery/img-9.webp",
  "/galery/img-10.webp",
  "/galery/img-11.webp",
  "/galery/img-12.webp",
  "/galery/img-13.webp",
  "/galery/img-14.webp",
  "/galery/img-15.webp",
  "/galery/img-16.webp",
  "/galery/img-17.webp",
  "/galery/img-18.webp",
  "/galery/img-19.webp",
  "/galery/img-20.webp",
  "/galery/img-21.webp",
  "/galery/img-22.webp",
  "/galery/img-23.webp",
  "/galery/img-24.webp",
  "/galery/img-25.webp",
  "/galery/img-26.webp",
  "/galery/img-27.webp",
  "/galery/img-28.webp",
  "/galery/img-29.webp",
  "/galery/img-30.webp",
  "/galery/img-31.webp",
  "/galery/img-32.webp",
  "/galery/img-33.webp",
  "/galery/img-34.webp",
  "/galery/img-35.webp",
  "/galery/img-36.webp",
  "/galery/img-37.webp",
  "/galery/img-38.webp",
  "/galery/img-39.webp",
  "/galery/img-40.webp",
  "/galery/img-41.webp",
  "/galery/img-42.webp",
  "/galery/img-43.webp",
  "/galery/img-44.webp",
];
---

<Layout title="Galería | Museo Diocesano San Ignacio Guazú">
  <main
    class="flex flex-col items-center justify-center bg-secondary p-4 md:p-8"
  >
    <h1
      class="text-center text-4xl font-bold tracking-wide text-primary sm:text-5xl md:text-6xl lg:text-7xl"
    >
      Museo Diocesano de Arte Jesuítico <br /> San Ignacio Guazú
    </h1>

    <a
      href="./"
      class="mt-4 text-2xl flex items-center gap-x-2 px-4 py-2 text-primary transition hover:scale-110"
    >
      <ArrowLeft class="h-4 w-4" />
      Volver
    </a>

    <div id="imageGrid" class="mt-8 grid grid-cols-3 gap-4">
      {
        images.map((image, index) => (
          <div
            class={`cursor-pointer overflow-hidden rounded-lg ${index % 3 === 0 ? "row-span-2" : ""} ${index >= 15 ? "hidden" : ""}`}
            data-index={index}
            style={{
              height:
                index % 3 === 0 ? "calc(33vw + 50px)" : "calc(16.5vw + 25px)",
            }}
          >
            <img
              class="h-full w-full object-cover object-top transition "
              src={image}
              alt={`Imagen ${index + 1}`}
              loading="lazy"
            />
          </div>
        ))
      }
    </div>

    <button
      id="loadMoreBtn"
      class="mt-4 flex items-center gap-x-2 rounded-md bg-primary px-4 py-2 text-lg text-white transition hover:scale-110 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2"
    >
      Ver más
      <GaleryIcon class="h-5 w-5" />
    </button>

    <!-- Agregar el componente de modal -->
    <div
      id="imageModal"
      class="fixed inset-0 z-50 flex hidden items-center justify-center bg-black bg-opacity-75"
    >
      <div class="relative w-full max-w-4xl">
        <img
          id="modalImage"
          src=""
          alt="Imagen en tamaño completo"
          class="mx-auto max-h-[90vh] w-auto"
        />
        <button
          id="prevButton"
          class="absolute left-4 top-1/2 -translate-y-1/2 transform rounded-full bg-white bg-opacity-50 p-2"
        >
          <ArrowLeft class="h-6 w-6 text-black" />
        </button>
        <button
          id="nextButton"
          class="absolute right-4 top-1/2 -translate-y-1/2 transform rounded-full bg-white bg-opacity-50 p-2"
        >
          <ArrowLeft class="h-6 w-6 rotate-180 transform text-black" />
        </button>
        <button
          id="closeButton"
          class="absolute right-4 top-4 text-2xl text-white">&times;</button
        >
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  let currentIndex = 0;
  const images = [
    "/galery/img-1.webp",
    "/galery/img-2.webp",
    "/galery/img-3.webp",
    "/galery/img-4.webp",
    "/galery/img-5.webp",
    "/galery/img-6.webp",
    "/galery/img-7.webp",
    "/galery/img-8.webp",
    "/galery/img-9.webp",
    "/galery/img-10.webp",
    "/galery/img-11.webp",
    "/galery/img-12.webp",
    "/galery/img-13.webp",
    "/galery/img-14.webp",
    "/galery/img-15.webp",
    "/galery/img-16.webp",
    "/galery/img-17.webp",
    "/galery/img-18.webp",
    "/galery/img-19.webp",
    "/galery/img-20.webp",
    "/galery/img-21.webp",
    "/galery/img-22.webp",
    "/galery/img-23.webp",
    "/galery/img-24.webp",
    "/galery/img-25.webp",
    "/galery/img-26.webp",
    "/galery/img-27.webp",
    "/galery/img-28.webp",
    "/galery/img-29.webp",
    "/galery/img-30.webp",
    "/galery/img-31.webp",
    "/galery/img-32.webp",
    "/galery/img-33.webp",
    "/galery/img-34.webp",
    "/galery/img-35.webp",
    "/galery/img-36.webp",
    "/galery/img-37.webp",
    "/galery/img-38.webp",
    "/galery/img-39.webp",
    "/galery/img-40.webp",
    "/galery/img-41.webp",
    "/galery/img-42.webp",
    "/galery/img-43.webp",
    "/galery/img-44.webp",
  ];
  function loadMore() {
    const imageGrid = document.getElementById("imageGrid");
    const loadMoreBtn = document.getElementById("loadMoreBtn");

    if (!imageGrid || !loadMoreBtn) {
      console.error("No se encontraron elementos necesarios");
      return;
    }

    const hiddenImages = imageGrid.querySelectorAll("div.hidden");
    let shownCount = 0;

    hiddenImages.forEach((img) => {
      if (shownCount < 15) {
        img.classList.remove("hidden");
        shownCount++;
      }
    });

    if (hiddenImages.length - shownCount <= 0) {
      loadMoreBtn.style.display = "none";
    }
  }

  function openModal(index: number) {
    currentIndex = index;
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");
    if (modal && modalImage) {
      modal.classList.remove("hidden");
      updateModalImage();
    }
  }

  function closeModal() {
    const modal = document.getElementById("imageModal");
    if (modal) {
      modal.classList.add("hidden");
    }
  }

  function updateModalImage() {
    const modalImage = document.getElementById(
      "modalImage",
    ) as HTMLImageElement;
    if (modalImage) {
      modalImage.src = images[currentIndex];
      modalImage.alt = `Imagen ${currentIndex + 1}`;
    }
  }

  function nextImage() {
    currentIndex = (currentIndex + 1) % images.length;
    updateModalImage();
  }

  function prevImage() {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
    updateModalImage();
  }

  document.addEventListener("astro:page-load", () => {
    const loadMoreBtn = document.getElementById("loadMoreBtn");
    const imageGrid = document.getElementById("imageGrid");
    const modal = document.getElementById("imageModal");
    const closeButton = document.getElementById("closeButton");
    const prevButton = document.getElementById("prevButton");
    const nextButton = document.getElementById("nextButton");

    if (loadMoreBtn) {
      loadMoreBtn.addEventListener("click", loadMore);
    }

    if (imageGrid) {
      imageGrid.addEventListener("click", (e) => {
        const clickedImage = (e.target as HTMLElement)?.closest(
          "div[data-index]",
        );
        if (clickedImage) {
          const index = parseInt(
            clickedImage.getAttribute("data-index") || "0",
            10,
          );
          openModal(index);
        }
      });
    }

    if (closeButton) {
      closeButton.addEventListener("click", closeModal);
    }

    if (prevButton) {
      prevButton.addEventListener("click", prevImage);
    }

    if (nextButton) {
      nextButton.addEventListener("click", nextImage);
    }

    if (modal) {
      modal.addEventListener("click", (e) => {
        if (e.target === modal) {
          closeModal();
        }
      });
    }

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") {
        closeModal();
      } else if (e.key === "ArrowLeft") {
        prevImage();
      } else if (e.key === "ArrowRight") {
        nextImage();
      }
    });
  });
</script>
