---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="La batalla de Mbororé">
  <main>
    <h1 class="text-7xl text-center">La batalla de Mbororé</h1>
  </main>
</Layout>
