---
import Layout from "@layouts/Layout.astro";
import LiteYoutube from "@components/ui/LiteYoutube.astro";
import ArrowRight from "@icons/ArrowRight.astro";
import Button from "@components/ui/Button.astro";
---

<Layout title="Batalla de Mbororé">
  <main class="relative min-h-screen">
    <img
      src="/hero-image.webp"
      alt="Fondo"
      class="absolute inset-0 h-full w-full object-cover"
    />
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>
    <div
      class="relative z-10 flex h-full flex-col items-center justify-center gap-y-8 px-4 text-secondary md:gap-y-16 lg:gap-y-32"
    >
      <h1
        class="text-center text-4xl font-bold tracking-widest md:text-5xl lg:text-6xl xl:text-7xl"
      >
        Batalla de Mbororé
      </h1>
      <div
        class="flex aspect-video w-full max-w-full items-center justify-center md:max-w-3xl"
      >
        <LiteYoutube title="Batalla de Mbororé" videoId="Uhgxj8m0RyQ" />
      </div>
      <Button
        href="/ver-mas"
        label="Ver más"
        bgColor="primary"
        textColor="secondary"
      >
        <ArrowRight class="h-4 w-4 md:h-6 md:w-6" />
      </Button>
    </div>
  </main>
</Layout>
