---
import ArrowDiagonal from "@icons/ArrowDiagonal.astro";
---

<footer class="bg-black py-8 text-secondary">
  <div class="mx-auto mt-3 max-w-screen-lg px-4 text-center">
    <h2 class="text-4xl font-bold leading-[43px]">
      REFERENCIAS BIBLIOGRÁFICAS:
    </h2>
    <p class="text-[32px] leading-[43px]">
      M'BORORÉ - A BATALHA José Roberto De Oliveira <br />
      Lic. Carlos H. Bedoya Guillén
    </p>
    <div class="my-6">
      <img
        src="/estrella.svg"
        alt="Estrella Universidad Católica"
        class="mx-auto"
      />
    </div>
    <p class="mt-6 text-2xl font-light leading-7">
      Copyright © Todos los derechos reservados | 2024 <br />
      <a href="#" class="inline-flex items-center hover:underline">
        5° Ingeniería Informática
        <ArrowDiagonal />
      </a><br />
      Universidad Católica Unidad Pedagógica San Ignacio Guazú
    </p>
  </div>
</footer>
