---
import Footer from "@components/ui/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Las Batallas de Mbororé | Batalla de Mborore">
  <main>
    <div class="b-8 absolute left-0 top-0 w-full text-center">
      <h2

        class="text-5xl font-bold tracking-wide text-primary sm:text-5xl md:text-6xl lg:text-8xl"
        transition:name="batalla-ttl"
      >
        Guar<span class="text-primary md:text-secondary">aníes</span>
        <br />
        v<span class="text-primary md:text-secondary">s</span>
        <br />
        Bandei<span class="text-primary md:text-secondary">rantes</span>
      </h2>
    </div>

    <div class="flex min-h-screen flex-col md:flex-row">
      <div
        class="flex w-full flex-col items-center justify-center bg-secondary p-6 md:w-1/2"
      >
 main
        <div class="mt-24">
          <div class="font-regular m-4 text-lg text-black md:text-4xl">
            <br />
            <p
              class="m-4 text-base text-black sm:text-lg md:text-2xl lg:text-3xl"
            >
              En el siglo XVII, los <span class="font-bold text-primary"
                >bandeirante paulistas</span
              > de São Paulo, Brasil, realizaron incursiones violentas contra las
              <span class="font-bold text-primary">Misiones jesuíticas</span> en
              el Guayrá, Itatín y Tapé, con el objetivo de capturar a los guaraníes
              y venderlos como esclavos. Estas incursiones devastaron pueblos enteros,
              obligando a miles de guaraníes a huir, como el éxodo liderado por el
              jesuita <span class="font-bold text-primary"
                >Antonio Ruíz de Montoya</span
              > , que condujo a 12,000 guaraníes a través del río Paraná para escapar
              de la esclavitud.
            </p>
          </div>
        </div>
      </div>

      <div
        class="flex w-full items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <div class="md:mt-80">
          <img
            src="/public/bandeirantes_b_w-removebg-preview.png"
            alt="Imagen de bandeirantes"
            class="mb-4 w-full max-w-xs object-contain sm:max-w-sm md:max-w-md lg:max-w-lg"
          />
        </div>
      </div>
    </div>

    <div
      class="flex min-h-screen w-full flex-col border-b-2 border-primary md:flex-row"
    >
      <div
        class="flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <img
          src="/public/batalla.webp"
          alt="Imagen de una batalla entre guaraníes y bandeirantes"
          class="mb-4 h-auto w-[550px]"
        />
      </div>
      <div
        class="flex w-full flex-col items-center justify-center bg-secondary p-6 md:w-1/2"
      >
        <div class="mt-8 md:mt-36">
          <h1 class="text-center text-5xl font-bold text-primary md:text-4xl">

          <h1 class="text-primary-dark mb-2 text-2xl font-bold">
 main
            La Batalla de Caasapá-Guasú (17 de enero de 1639)
          </h1>
          <p
            class="m-4 text-base text-black sm:text-lg md:text-2xl lg:text-3xl"
          >
            En esta batalla, los guaraníes, armados por los jesuitas con armas
            de fuego, se enfrentaron a los bandeirantes paulistas, quienes
            contaban con más de 2,000 guerreros tupís. Los guaraníes, bajo el
            liderazgo del Padre Diego de Alfaro y el cacique Nicolás Ñeenguirú,
            lograron una victoria importante, derrotando a los bandeirantes a
            pesar de ser traicionados por el gobernador español del Paraguay,
            quien no apoyó en combate. Esta fue la primera derrota significativa
            de los bandeirantes.
          </p>

          <h1 class="text-primary-dark mb-2 text-2xl font-bold">
            La Batalla del Mbororé (11-18 de marzo de 1641)
          </h1>
          <p
            class="m-4 text-base text-black sm:text-lg md:text-2xl lg:text-3xl"
          >
            La Batalla del Mbororé fue un enfrentamiento decisivo que se
            prolongó durante 8 días y es considerada una de las batallas más
            importantes del Cono Sur. Los bandeirantes, compuestos por unos 400
            portugueses y mestizos y aproximadamente 1,300 indios tupís,
            descendieron el río Uruguay con una flota de 300 embarcaciones para
            atacar las Misiones. En respuesta, los jesuitas y los guaraníes
            reunieron un ejército de 4,000 guerreros, de los cuales 300 estaban
            armados con escopetas y los restantes portaban arcos, flechas,
            hondas y macanas.
          </p>
 main
        </div>
      </div>

      <div
        class="flex w-full items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <img
          src="/public/GvsB.png"
          alt="Imagen de un guaraní y un bandeirante en blanco y negro"
          class="mb-4 h-auto w-[550px]"
        />
      </div>
    </div>

    <div class="flex min-h-screen w-full flex-col md:flex-row">
      <div
        class="flex w-full items-center justify-center bg-primary p-6 md:w-1/2"
      >
        <img
          src="/public/Indio-removebg-preview.png"
          alt="Imagen de la un guaraní en blanco y negro"
          class="mb-4 h-auto w-[550px]"
        />
      </div>
=======

          <p
            class="m-4 text-base text-black sm:text-lg md:text-2xl lg:text-3xl"
          >
            Los guaraníes, liderados por el cacique Nicolás Ñeenguirú y con la
            ayuda técnica de exmilitares jesuitas como Domingo Torres y Antonio
            Bernal, prepararon tácticas innovadoras como la construcción de
            balsas fortificadas y cañones rudimentarios hechos de tacuaras. El
            ejército bandeirante avanzó por el río, pero fue emboscado y
            derrotado en una batalla naval y terrestre simultánea. De las 130
            canoas bandeirantes, solo 14 quedaron a flote, mientras que las
            fuerzas guaraníes sufrieron bajas mínimas.
          </p>
 main

          <h1 class="text-primary-dark mb-2 text-2xl font-bold">
            Consecuencias de la Batalla del Mbororé
          </h1>
          <p
            class="m-4 text-base text-black sm:text-lg md:text-2xl lg:text-3xl"
          >
            <ul
              class="m-4 list-disc text-sm text-black sm:text-base md:text-lg lg:text-xl"
            >
              <li>
                La derrota de los bandeirantes puso fin a las grandes
                incursiones esclavistas hacia las Misiones jesuíticas.
              </li>
              <li>
                Frenó el avance territorial de la Corona portuguesa en el
                Paraguay y el Río de la Plata.
              </li>
              <li>
                El rey Felipe IV de España exoneró a los guaraníes del pago de
                tributos durante diez años como recompensa por su defensa.
              </li>
              <li>
                Los pueblos jesuítico-guaraníes se consolidaron en los márgenes
                del Paraná y el Uruguay, formando una defensa más sólida.
              </li>
              <li>
                Se inauguró una nueva etapa de desarrollo socioeconómico para
                los 30 pueblos jesuíticos, que prosperaron entre 1642 y 1750.
              </li>
              <li>
                Nació el ejército misionero guaraní, que jugaría un papel clave
                en la defensa de la región en los años siguientes, incluso en la
                defensa de la Colonia del Sacramento contra los portugueses.
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div
        class="mt-100 mb-100 flex w-full flex-col items-center justify-center bg-primary p-6 md:w-1/2"
      >
 main
        <div
          class="mt-10 flex h-[100%] flex-col items-center justify-center md:mt-24"
        >
          <ul class="m-4 list-disc text-lg text-primary md:text-2xl">
            <h1 class="text-center text-4xl font-bold text-primary md:text-3xl">
              Consecuencias de la Batalla del Mbororé
            </h1>
            <br />
            <li class="list-inside pl-8 text-black">
              La derrota de los bandeirantes puso fin a las grandes incursiones
              esclavistas hacia las Misiones jesuíticas.
            </li>
            <li class="list-inside pl-8 text-black">
              Frenó el avance territorial de la Corona portuguesa en el Paraguay
              y el Río de la Plata
            </li>
            <li class="list-inside pl-8 text-black">
              El <span class="font-bold text-primary"
                >rey Felipe IV de España</span
              > exoneró a los guaraníes del pago de tributos durante diez años como
              recompensa por su defensa
            </li>
            <li class="list-inside pl-8 text-black">
              Los pueblos jesuítico-guaraníes se consolidaron en los márgenes
              del Paraná y el Uruguay, formando una defensa más sólida.
            </li>
            <li class="list-inside pl-8 text-black">
              Se inauguró una nueva etapa de desarrollo socioeconómico para los
              <span class="font-bold text-primary">30 pueblos jesuíticos</span>,
              que prosperaron entre 1642 y 1750
            </li>
            <li class="list-inside pl-8 text-black">
              Nació el <span class="font-bold text-primary"
                >ejército misionero guaraní</span
              >, que jugaría un papel clave en la defensa de la región en los
              años siguientes, incluso en la defensa de la Colonia del
              Sacramento contra los portugueses
            </li>
          </ul>
        </div>
      </div>

      <div
        class="flex w-full flex-col items-center justify-center border-b-2 border-primary bg-primary p-6 md:w-1/2 md:flex-row"
      >
        <div
          class="flex w-full flex-col items-center justify-center bg-primary p-6"
        >
          <img
            src="/public/paz.jpeg"
            alt="Imagen de un ambiente de paz"
            class="mb-4 h-auto w-[550px]"
            <div
            class="flex flex-col space-y-40"
          />
        <div class="flex flex-col space-y-40">
 main
          <img
            src="/Indio-removebg-preview.png"
            alt="Guaraní"
            class="w-full max-w-xs object-contain sm:max-w-sm md:max-w-md lg:max-w-lg"
          />
          <div class="flex justify-center">
            <img
              src="/batalla.webp"
              alt="Imagen de los Guaraníes y Jesuitas"
              class="w-full max-w-xs object-contain sm:max-w-sm md:max-w-md lg:max-w-lg"
            />
          </div>
          <img
            src="/bandeirantes_b_w-removebg-preview.png"
            alt="Bandeirantes"
            class="w-full max-w-xs object-contain sm:max-w-sm md:max-w-md lg:max-w-lg"
          />
        </div>
      </div>
    </div>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
